<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Craig Mink</string>
	<key>name</key>
	<string>Mustang</string>
	<key>description</key>
	<string>My customized Mustang Theme from Michael Sheets original Mustang Theme. Has support for BrightScript syntax coloring.</string>
	<key>uuid</key>
	<string>9EFEED9C-936A-495E-918C-DFE9985C856B</string>
</dict>
</plist>
